.section {
  padding: 80px 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 800px;
  text-align: center;
}

.searchWrapper {
  padding: 1.5px; 
  background: linear-gradient(90deg, #b892ff 0%, #377dff 100%);
  border-radius: 100px;
  margin-bottom: 25px;
  box-shadow: 0 10px 30px rgba(55, 125, 255, 0.1);
}

.inputBox {
  background: #ffffff;
  border-radius: 100px;
  display: flex;
  align-items: center;
  padding: 5px 5px 5px 25px;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 18px;
  color: #1e266d;
}

.orangeBtn {
  background-color: #ff6e4e;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tagsRow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.tagBtn {
  background-color: #f1f3ff; 
  color: #3d4bb4;          
  border: 1px solid transparent; 
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}


.tagBtn:hover {
  background-color: #ffffff; 
  color: #377dff;
  border: 1px solid #377dff;
  box-shadow: 0 4px 10px rgba(55, 125, 255, 0.1);
}